In [1]:
import pandas as pd
import torch
import sklearn.model_selection
import sklearn.preprocessing

/home/harrison/anaconda3/envs/mas-thesis/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Load Data

In [2]:
df = pd.read_pickle('data/processed.pkl')
df = df.set_index('DATE')  # Index for timeseries is datetime

df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 592 entries, 1963-01-01 to 2012-04-01
Data columns (total 20 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   MSACSR                                                                     592 non-null    float64
 1   MSPUS                                                                      592 non-null    float64
 2   S&P Comp.                                                                  592 non-null    float64
 3   Dividend                                                                   592 non-null    float64
 4   Earnings                                                                   592 non-null    float64
 5   Consumer Price Index CPI                                                   592 non-null    float64
 6   Long Interest Rate GS10                                                    592 non-null    float64
 7   Real Price                                                                 592 non-null    float64
 8   Real Dividend                                                              592 non-null    float64
 9   Real Total Return Price                                                    592 non-null    float64
 10  Real Earnings                                                              592 non-null    float64
 11  Real TR Scaled Earnings                                                    592 non-null    float64
 12  Cyclically Adjusted Price Earnings Ratio P/E10 or CAPE                     592 non-null    float64
 13  Cyclically Adjusted Total Return Price Earnings Ratio TR P/E10 or TR CAPE  592 non-null    float64
 14  Excess CAPE Yield                                                          592 non-null    float64
 15  Monthly Total Bond Returns                                                 592 non-null    float64
 16  Real Total Bond Returns                                                    592 non-null    float64
 17  10 Year Annualized Stock Real Return                                       592 non-null    float64
 18  10 Year Annualized Bonds  Real Return                                      592 non-null    float64
 19  Real 10 Year Excess Annualized  Returns                                    592 non-null    float64
dtypes: float64(20)
memory usage: 97.1 KB

In [3]:
X = df.drop('MSPUS', axis='columns')
y = df['MSPUS'].values
y = y.reshape(-1, 1)  # Put target variable into column vector shape

print(X.shape)
print(y.shape)

(592, 19)
(592, 1)

### Data Preprocessing

In [6]:
# Scale data

standard_scaler = sklearn.preprocessing.StandardScaler()  # Scales to mean of 0 and var of 1
minmax_scaler = sklearn.preprocessing.MinMaxScaler()  # Scale to between 0 and 1

X_scaled = standard_scaler.fit_transform(X)  
y_scaled = minmax_scaler.fit_transform(y)    

print("X mean:", X_scaled.mean())
print("X var:", X_scaled.var())
print("y min:", y_scaled.min())
print("y max:", y_scaled.max())

X mean: -3.916576246188319e-16
X var: 1.0
y min: 0.0
y max: 1.0000000000000002